.c-form {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  &.col-2 {grid-template-columns: repeat(2, 1fr); grid-column-gap: 2rem;}
  &.col-3 {grid-template-columns: repeat(3, 1fr); grid-column-gap: 2rem;}
  &.col-4 {grid-template-columns: repeat(4, 1fr); grid-column-gap: 2rem;}
  &.col-5 {grid-template-columns: repeat(5, 1fr); grid-column-gap: 2rem;}
  &.col-6 {grid-template-columns: repeat(6, 1fr); grid-column-gap: 2rem;}

  .mat-form-field {
    line-height: 2;
  }
  .mat-input-element, .mat-form-field-label {
    font-size: 1.5rem;
  }

  .mat-raised-button {
    width: 10rem;
    height: 5rem;
  }
  .mat-form-field-subscript-wrapper {
    text-align: end;
    margin-top: -1px;
  }

}

.c-dynamic-form {
  width: 100%;
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
