.c-list {
  width: 100%;
  padding: 0;

  .item {
    display: grid;
    grid-template-columns: max-content max-content 1fr 1fr 1fr max-content;
    gap: 1rem;
    padding: .6rem 1rem;
    border: thin solid #ccccce;
    border-radius: 5rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: flex-start;

    &.header {}

    .photo {
      width: 3.2rem;
      height: 3.2rem;
      overflow: hidden;
      border-radius: 5rem;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .text {
      font-size: 1.4rem;
      min-width: 20rem;
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      > * {
        margin-right: 1rem;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
