.c-navigation {
  .section {
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem 2rem;
    color: var(--grey);
    margin-top: 2rem;
    margin-bottom: 0;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 10%;
      width: 80%;
      height: 1px;
      display: block;
      bottom: 0;
      background: var(--purple-light);
    }
  }
  .list {
    padding: 0;
    margin: 0;
    &:first-child {
      margin-top: 2rem;
    }
    .item {
      .link {
        color: var(--blue-dark);
        text-decoration: none;
        font-size: 1.5rem;
        padding: 1rem;
        padding-left: 2rem;
        width: 100%;
        display: block;
        .icon {
          margin-right: 1rem;
          color: var(--grey);
        }
        &.active {
          color: var(--purple-dark);
          background: var(--purple-light);
          position: relative;
          font-weight: bold;
          .icon {
            color: var(--purple-dark);
          }
          &::before {
            content: '';
            width: 2rem;
            height: 95%;
            background: var(--cyan);
            display: block;
            position: absolute;
            left: -1.4rem;
            top: .1rem;
            border-radius: 50%;
          }
        }
        &:hover {
          color: var(--purple-dark);
        }
      }
    }
  }
}
