.c-search {

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;

  .field-container {

    display: flex;
    position: relative;
    background: var(--bg-field);
    border-radius: 5rem;
    padding: .2rem 1.6rem;
    color: var(--second-color);
    justify-content: flex-start;
    align-items: center;

    &.-filter {
      width: 25rem;
      margin-right: 2rem;
      .title {
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: lighter;
      }
      .ico-arrow {
        position: absolute;
        right: 1.6rem;
      }
      .field {
        background: none;
        color: var(--second-color);
        font-size: 1.4rem;
        font-weight: lighter;
        flex: 1;
      }
    }

    &.-search {
      flex: 1;
    }

  }

  .field {
    padding: 1rem;
    border: none;
    flex: 1;
    position: relative;
    background: none;
    color: var(--second-color);
    z-index: 2;
  }

  .icon {
    font-size: 1.5rem;
    color: var(--grey);
    padding-right: 1rem;
  }

  .o-button {
    justify-content: center;
    &::before {
      display: none;
    }

  }

  .mat-form-field {
    width: 100%;
    max-width: 40rem;
  }

  .mat-form-field-appearance-outline .mat-form-field-flex {
    height: 4.5rem;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    background: white;
    border-radius: .5rem;
  }

  .mat-input-element, .mat-form-field-label {
    font-size: 1.5rem;
    color: var(--grey);
    padding-left: 1rem;
    margin-top: -1.2rem;
  }

  .mat-input-element {
    margin-top: 0;
    margin-bottom: 0;
  }

  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.7rem) scale(0.75);
  }

  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -2px;
  }

  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
  }

}
