.c-search {

  flex: 1;
  margin: 0 5rem;
  background: white;
  border-radius: .5rem;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .filter-container {
    position: relative;
    background: var(--purple-light);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--purple-dark);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding: 0 1rem;
    width: 20rem;
    .title {
      flex-shrink: 0;
    }
    .ico-arrow {
      position: absolute;
      right: 1.6rem;
    }
    .field {
      background: none;
      color: var(--purple);
      flex: 1;
    }
  }

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
    &:before {
      content: '';
      width: 2rem;
      height: 3.5rem;
      background: white;
      border-radius: 50%;
      position: absolute;
      z-index: 1;
      left: -5px;
    }
  }

  .field {
    padding: 1rem;
    border: none;
    flex: 1;
    position: relative;
    z-index: 2;
  }

  .icon {
    font-size: 1.5rem;
    color: var(--grey);
    padding-right: 1rem;
  }

  .o-button {
    justify-content: center;
    &::before {
      display: none;
    }

  }

  .mat-form-field {
    width: 100%;
    max-width: 40rem;
  }

  .mat-form-field-appearance-outline .mat-form-field-flex {
    height: 4.5rem;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    background: white;
    border-radius: .5rem;
  }

  .mat-input-element, .mat-form-field-label {
    font-size: 1.5rem;
    color: var(--grey);
    padding-left: 1rem;
    margin-top: -1.2rem;
  }

  .mat-input-element {
    margin-top: 0;
    margin-bottom: 0;
  }

  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.7rem) scale(0.75);
  }

  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -2px;
  }

  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
  }

}
