.c-table {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  table {
    width: 100%;
    align-self: flex-start;
    justify-self: flex-start;
    .column {
      color: var(--second-color);
      font-size: 1.4rem;
      &.-header {
        font-weight: bolder;
      }
      &.-text {
        font-weight: lighter;
        &:hover {
          color: var(--fifth-color);
        }
      }
      &.-clickable {
        cursor: pointer;
      }
    }
    tbody {
      tr {
        &:last-child {
          td {
            border-bottom: none;
          }
        }
      }
    }
  }
  .no-data-container {

    display: flex;
    flex-direction: column;
    align-items: center;

    .illustra {
      width: 12rem;
    }

    .text {
      text-align: center;
      font-size: 2rem;
      color: var(--font-color-alert);
      font-weight: 400;
    }

  }
}
