.c-table {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  table {
    width: 100%;
    align-self: flex-start;
    justify-self: flex-start;
    .clickable-column {
      cursor: pointer;
      &.-text {
        &:hover {
          color: var(--fifth-color);
        }
      }
    }
    tbody {
      tr {
        &:last-child {
          td {
            border-bottom: none;
          }
        }
      }
    }
  }
}
