.c-ui-page-base {
  display: grid;
  height: 100vh;
  grid-template-columns: minmax(auto, 20rem) 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'header header'
                       'aside content';

  app-header {
    grid-area: header;
    background-color: white;
    padding: 2rem;
    box-shadow: 0px 0.1rem 2rem #dde6ea;
    overflow: overlay;

    > .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2rem;
      font-weight: bold;
      color: var(--purple);
    }
  }

  app-aside {
    grid-area: aside;
    background-color: var(--purple-dark);
    color: white;
  }

  app-content {
    grid-area: content;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    .content {
      flex: 1;
      display: flex;
      > .ng-star-inserted {
        flex: 1;
        display: flex;
        > .ng-star-inserted {
          flex: 1;
          display: flex;
        }
      }
    }
  }
}
