.ui-page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    padding-bottom: 1rem;
  }
  .content {
    flex: 1;
    background: white;
    margin: 2rem;
    margin-top: 1rem;
    overflow: hidden;
    border-radius: .5rem;
    padding: 2rem;
  }
  .pagination {
    margin: 0 2rem 2rem;
    border-top: 2px solid var(--main-bg-color);
  }
}
