.c-ui-page-base {
  display: grid;
  height: 100vh;
  grid-template-columns: minmax(auto, 20rem) 1fr;
  grid-template-rows: minmax(5.5rem, auto) 1fr;
  grid-template-areas: 'aside header'
                       'aside content';

  app-header {
    grid-area: header;
    // background-color: var(--bg-header-color);
    padding: 1rem 2rem;
    overflow: overlay;

    > .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2rem;
      font-weight: bold;
      color: white;
    }
  }

  app-aside {
    grid-area: aside;
    background-color: var(--bg-aside-color);
    color: var(--font-color-dark);
  }

  app-content {
    grid-area: content;
    background-color: var(--bg-page-color);
    display: flex;
    flex-direction: column;
    .content {
      flex: 1;
      display: flex;
      router-outlet ~ * {
        flex: 1;
        display: flex;
      }
    }
  }
}
