.ui-page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    padding-bottom: 1rem;
  }
  .middle {
    flex: 1;
    background: white;
    margin: 2rem;
    margin-top: 1rem;
    overflow: hidden;
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    .mat-spinner {
      align-self: center;
      justify-self: center;
    }
    .mat-spinner, .mat-spinner svg  {
      width: 5rem !important;
      height: 5rem !important;
    }
  }
  .pagination {
    margin: 0 2rem 2rem;
    border-top: 2px solid var(--purple-light);
  }
}
