.c-ui-page-base {
  display: grid;
  height: 100vh;
  grid-template-columns: var(--width-aside, 20rem) 1fr;
  grid-template-areas: 'aside content';

  app-header {
    grid-area: header;
    padding: 1rem 2rem;
    overflow: overlay;
    position: fixed;
    left: var(--width-aside, 20rem);
    width: calc(100% - var(--width-aside, 20rem));

    > .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2rem;
      font-weight: bold;
      color: white;
    }
  }

  app-aside {
    grid-area: aside;
    background-color: var(--bg-aside-color);
    color: var(--font-color-dark);
    overflow: hidden;
    @include transition;
  }

  app-content {
    grid-area: content;
    background-color: var(--bg-page-color);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    .content {
      flex: 1;
      display: flex;
      router-outlet ~ * {
        flex: 1;
        display: flex;
      }
    }
  }
}
