<div class="c-pagination">
  <div class="c-buttons">
    <button class="o-button -arrow" [disabled]="!hasPreviousPage" (click)="handleClick(goTo.FIRST_PAGE)" matTooltip="Ir para primeira página">
      <app-icon [name]="'angle-double-left'"></app-icon>
    </button>
    <button class="o-button -arrow" [disabled]="!hasPreviousPage" (click)="handleClick(goTo.PREVIOUS_PAGE)" matTooltip="Ir para página anterior">
      <app-icon [name]="'angle-left'"></app-icon>
    </button>
    <ng-container *ngIf="totalPage > 1">
      <button class="o-button" [ngClass]="{'-current': currentPage(page)}" *ngFor="let page of pageNumbers; let i = index" (click)="handleClick(page)">
        {{page}}
      </button>
    </ng-container>
    <button class="o-button -arrow" [disabled]="!hasNextPage" (click)="handleClick(goTo.NEXT_PAGE)" matTooltip="Ir para próxima página">
      <app-icon [name]="'angle-right'"></app-icon>
    </button>
    <button class="o-button -arrow" [disabled]="!hasNextPage"(click)="handleClick(goTo.LAST_PAGE)" matTooltip="Ir para última página">
      <app-icon [name]="'angle-double-right'"></app-icon>
    </button>
  </div>
</div>
