<div class="c-pagination">
  <div class="field-container -total">
      <label for="fieldTotal" class="title">Total de itens por página</label>
      <select id="fieldTotal" [(ngModel)]="itemsPerPage"  class="field -dropdown" (change)="changeItemsPerPage()" [disabled]="totalItems < itemsPerPage && !(isLoading$ | async)">
        <option [value]="item" *ngFor="let item of itemsPerPageList">{{item}}</option>
      </select>
  </div>
  <div class="current-total">
    {{ rangeItems }}
  </div>
  <div class="navigation">
    <button class="o-button -arrow" [disabled]="!hasPreviousPage" (click)="handleClick(goTo.PREVIOUS_PAGE)" matTooltip="Ir para página anterior">
      <app-icon [name]="'angle-left'" size="2rem"></app-icon>
    </button>
    <button class="o-button -arrow" [disabled]="!hasNextPage" (click)="handleClick(goTo.NEXT_PAGE)" matTooltip="Ir para próxima página">
      <app-icon [name]="'angle-right'" size="2rem"></app-icon>
    </button>
  </div>

</div>
