.ui-dashboard {
  .welcome {
    background: var(--bg-card-color);
    width: 100%;
    border-radius: 1rem;
    padding: 2.4rem 4rem;
    padding-right: 25rem;
    position: relative;
    .title {
      font-family: var(--font-title);
      font-size: 2.4rem;
      font-weight: 100;
      margin: 0;
      margin-bottom: 2.4rem;
    }
    .text {
      font-size: 1.4rem;
    }
    .illustration {
      position: absolute;
      right: 3rem;
      top: -2.5rem;
      width: 20rem;
    }
  }
}
