<div class="ui-page-content ui-dashboard">
  <header class="top">
    <cms-title pageName="Dashboard"></cms-title>
  </header>
  <main class="middle">
    <section class="welcome">
      <h3 class="title">
        Olá, bem-vindo {{user.name}}!
      </h3>
      <p class="text">
        Ipsum cillum consectetur ea proident elit nulla do sit. Non minim nulla minim sunt qui laborum nisi proident magna culpa reprehenderit mollit.
      </p>
      <img src="/assets/illustrations/graph-man.svg" alt="Welcome" class="illustration" />
    </section>
    <section class="common">
      <h2 class="title">
        Em destaque
      </h2>
      <ul class="cards">
        <li class="card -blue">

        </li>
        <li class="card -red">

        </li>
        <li class="card -orange">

        </li>
      </ul>
    </section>
  </main>
</div>
<div class="ui-page-content -highlighted">
  teste
</div>
