.ui-page-login {
  padding: 3rem;
  background: white;
  border-radius: 0.5rem;
  width: 50vw;

  .top {
    margin-bottom: 2rem;
    .o-title {
      padding: 0;
    }
  }

  .middle {
    margin: initial;
    .c-form {
      grid-template-columns: 1fr;
      a {
        text-align: right;
        font-size: 1.4rem;
        text-decoration: none;
        color: var(--grey);
        &:hover {
          color: var(--purple);
        }
      }
    }
  }
}

.new-user {
  margin-top: 5rem;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  a {
    color: var(--yellow);
    font-weight: bold;
  }
}
