<div class="ui-page-login">
  <header class="top">
    <h2 class="o-title">
      Faça login para acessar o CMS
    </h2>
  </header>
  <main class="middle">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <form class="c-form" [formGroup]="formLogin" (submit)="login()">
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="showMessageError('email')">{{getErrorMessage('email')}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <!--mat-error *ngIf="showMessageError('password')">{{getErrorMessage('password')}}</mat-error-->
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <a href="javascript:;" routerLink="/auth/forgot-password">Esqueci a senha</a>.
      <button type="submit" mat-raised-button color="primary" [disabled]="formInvalid || isLoading">
        Entrar
      </button>
    </form>
  </main>
</div>
<div class="new-user">
  Não tem cadastro, <a href="javascript:;" routerLink="/auth/register">clique aqui</a>.
</div>

