.title {
  color: var(--magenta);
  border-bottom: 1px solid var(--magenta);
  padding-bottom: 2rem;
  margin: 0;
}
.text {
  font-size: 2rem;
  color: var(--black);
}

.c-buttons {
  padding-bottom: 1rem;
  justify-content: space-between;
  width: 100%;
}
