<div class="modal-content -edit-user">

    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <form class="c-form form-user" [formGroup]="formUser" (submit)="submitUserData()">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="showMessageError('name')">{{getErrorMessage('name')}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="showMessageError('email')">{{getErrorMessage('email')}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Perfis</mat-label>
        <mat-chip-list #chipList aria-label="Role selection">
          <mat-chip
            *ngFor="let role of rolesNames"
            [selectable]="selectableRole"
            [removable]="removableRole"
            (removed)="removeRoleChip(role)">
            {{role}}
            <app-icon name="times" matChipRemove *ngIf="removableRole"></app-icon>
          </mat-chip>
          <input
            [placeholder]="textInputRole"
            #roleInput
            [formControl]="roleControl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodesRoles"
            (matChipInputTokenEnd)="addRoleChip($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedRole($event)">
          <mat-option *ngFor="let role of filteredRolesOptions | async" [value]="role.name">
            {{role.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-checkbox formControlName="isActive">Ativo</mat-checkbox>
      <!-- <div formGroupName="passwordForm" class="passwords">
        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirme a senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirm" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div> -->
      <button type="submit" mat-raised-button color="primary" [disabled]="formInvalid || isLoading">
        Salvar
      </button>
    </form>
</div>
