<div class="c-modal-content change-pass">

    <form class="c-form form-change-pass" [formGroup]="formChangePass" (submit)="submitPass()">

      <mat-form-field appearance="fill">
        <mat-label>Senha Antiga</mat-label>
        <input matInput formControlName="password" required>
        <mat-error *ngIf="showMessageError('password')">{{getErrorMessage('password')}}</mat-error>
      </mat-form-field>

      <cms-confirm-password class="full-width" (validatedPassword)="getPassword($event)"></cms-confirm-password>

      <div class="bottom-grid">
        <cms-button type="submit" buttonText="Salvar" iconLeftName="save" buttonClasses='-add' [disableButton]="formInvalid" [isLoadingAction]="isLoadingAction"></cms-button>
        <cms-button buttonText="Cancelar" buttonClasses='-link' (clickButtonEvent)="cancel()" class="button-right"></cms-button>
      </div>

    </form>


</div>

