.c-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  .preview {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-color: var(--fourth-color);
    cursor: pointer;
    .editable {
      cursor: pointer;
      border: 3px solid white;
    }
    .input-file {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .ico-camera, .loader {
      color: var(--third-secondary-color);
      position: absolute;
      top: 0;
      right: 0;
      font-size: 2rem;
      background: white;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
