<div class="ui-page-content">
  <header class="top">
    <app-title pageName="Usuários" iconName="users"></app-title>
    <app-search [filters]="userOptions" (searchEvent)="getAllUsers()"></app-search>
    <app-button buttonText="Usuário" iconLeftName="plus" buttonClasses='-add' (clickButtonEvent)="addUser()"></app-button>
  </header>
  <main class="middle">
    <div class="wrapper">
      <app-table
        [isLoadingResults]="isLoadingResults"
        [isLoadingAction]="isLoadingAction"
        [dataSource]="users"
        [columns]="userOptions"
        (loadContentEvent)="getAllUsers()"
        (actionEvent)="action($event)"
        (sortChangeEvent)="getAllUsers()"
      ></app-table>
    </div>
    <app-pagination (changePage)="getAllUsers()"></app-pagination>
  </main>
</div>
