<aside class="aside">
  <nav class="c-navigation">
    <ul class="list">
      <li class="item">
        <a href="" class="link">
          <app-icon [name]="'chart-pie'" class="icon"></app-icon>
          Dashboard
        </a>
      </li>
    </ul>
    <h3 class="section">Gerenciar usuários</h3>
    <ul class="list">
      <li class="item">
        <a href="" class="link">
          <app-icon [name]="'user-shield'" class="icon"></app-icon>
          Perfis
        </a>
      </li>
      <li class="item">
        <a href="" class="link active">
          <app-icon [name]="'users'" class="icon"></app-icon>
          Usuários
        </a>
      </li>
    </ul>
  </nav>
</aside>
