<aside class="aside">
  <nav class="c-navigation">
    <ul class="list">
      <li class="item">
        <a href="" class="link">
          <i class="fas fa-chart-pie icon"></i>
          Dashboard
        </a>
      </li>
    </ul>
    <h3 class="section">Gerenciar usuários</h3>
    <ul class="list">
      <li class="item">
        <a href="" class="link">
          <i class="fas fa-user-shield icon"></i>
          Perfis
        </a>
      </li>
      <li class="item">
        <a href="" class="link active">
          <i class="fas fa-users icon"></i>
          Usuários
        </a>
      </li>
    </ul>
  </nav>
</aside>
