<button class="o-button" [ngClass]="buttonClasses" [disabled]="disabledButton" [type]="type" (click)="handleClick()" [matTooltip]="matTooltip">
  <div class="icon -left" *ngIf="showLeftIcon">
    <mat-spinner *ngIf="isLoadingAction; else iconLeft"></mat-spinner>
    <ng-template #iconLeft>
      <app-icon [name]="iconLeftName"></app-icon>
    </ng-template>
  </div>
  {{buttonText}}
  <div class="icon -right" *ngIf="showRightIcon">
    <mat-spinner *ngIf="isLoadingAction; else iconRight"></mat-spinner>
    <ng-template #iconRight>iconRigh
      <app-icon [name]="iconRightName"></app-icon>
    </ng-template>
  </div>
</button>
