<button class="o-button" [ngClass]="button?.classes" [disabled]="button?.disabled" [type]="button?.type" (click)="handleClick()" [matTooltip]="button?.matTooltip">
  <div class="icon -left" *ngIf="showLeftIcon">
    <mat-spinner *ngIf="isLoadingAction; else iconLeft"></mat-spinner>
    <ng-template #iconLeft>
      <app-icon [name]="button?.iconLeftName"></app-icon>
    </ng-template>
  </div>
  {{button?.text}}
  <div class="icon -right" *ngIf="showRightIcon">
    <mat-spinner *ngIf="isLoadingAction; else iconRight"></mat-spinner>
    <ng-template #iconRight>
      <app-icon [name]="button?.iconRightName"></app-icon>
    </ng-template>
  </div>
</button>
