<div class="c-table" #tableContainer>

  <mat-spinner class="spinner-page" *ngIf="isLoading$ | async; else table"></mat-spinner>

  <ng-template #table>

    <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDisableClear matSortDirection="desc" (matSortChange)="sortData($event)" *ngIf="dataSource.length > 0; else empty">

      <ng-container [matColumnDef]="column?.id" *ngFor="let column of config?.columns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear [disabled]="column?.noSort">
          <span class="column -header">
            {{ column?.name }}
          </span>
        </th>
        <td mat-cell *matCellDef="let data; let i = index" [ngStyle]= "{ 'width': tdWidth(column?.width) }">
          <div [ngSwitch]="column?.type">
            <div *ngSwitchCase="'IMAGE'" (click)="action(data, 'VIEW', null)" class="column -clickable">
              <img [src]="getPathImage(data[column?.id])" alt="Image" class="o-image -thumbnail -round" />
            </div>
            <span *ngSwitchCase="'TOGGLE'" class="column">
              <cms-checkbox [isChecked]="data[column?.id]" (changeCheckedFn)="checkboxChange($event, data, i)"></cms-checkbox>
            </span>
            <span *ngSwitchCase="'LIST'" (click)="action(data, 'VIEW', null)" class="column -clickable">
              <cms-chips [chips]="getChipsName(data[column?.id])"></cms-chips>
            </span>

            <span *ngSwitchDefault (click)="action(data, 'VIEW', null)" class="column -text -clickable">
              {{ data[column?.id] }}
            </span>
          </div>
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let data; let i = index">
          <div class="c-buttons -end">
            <cms-button [button]="button" (clickButtonEvent)="action(data, button.id, indexButton)" *ngFor="let button of config.buttons; let indexButton = index"></cms-button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>

    <ng-template #empty>
      <div class="no-data-container">
        <img src="/assets/illustrations/no-data.svg" alt="no-data" class="illustra" />
        <p class="text">Nenhum resultado encontrado</p>
      </div>
    </ng-template>

  </ng-template>

</div>
