<div class="c-table" #tableContainer>

  <mat-spinner class="spinner-page" *ngIf="isLoadingResults; else table"></mat-spinner>

  <ng-template #table>

    <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDisableClear matSortDirection="desc" (matSortChange)="sortData($event)">

      <ng-container [matColumnDef]="column?.id" *ngFor="let column of columns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          {{ column?.name }}
        </th>
        <td mat-cell *matCellDef="let data; let i = index" [ngStyle]= "{ 'width': tdWidth(column?.id) }">
          <div [ngSwitch]="defineContentType(data[column?.id], column?.id)">
            <span *ngSwitchCase="'IMAGE'">
              <img [src]="getPathImage(data[column?.id])" alt="Image" class="o-image -thumbnail -round" />
            </span>
            <span *ngSwitchCase="'LIST'">
              <mat-chip-list aria-label="">
                <mat-chip *ngFor="let chip of data[column?.id]" [selected]="chip.admin">{{chip.name}}</mat-chip>
              </mat-chip-list>
            </span>
            <span *ngSwitchCase="'TOGGLE'">
              <mat-spinner *ngIf="isLoadingToggleChange(i); else toggleButton" class="small"></mat-spinner>
              <ng-template #toggleButton>
                <mat-slide-toggle
                  color="primary"
                  [checked]="data[column?.id]"
                  (change)="slideToggleChange($event, data, i)">
                </mat-slide-toggle>
              </ng-template>
            </span>
            <span *ngSwitchDefault>
              {{ data[column?.id] }}
            </span>
          </div>
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let data; let i = index">
          <div class="c-buttons -end">
            <cms-button
              iconLeftName="pen"
              buttonClasses='-icon -edit'
              (clickButtonEvent)="action(data, 'edit')"
              matTooltip="Editar"
              >
            </cms-button>
            <cms-button
              iconLeftName="trash"
              buttonClasses='-icon -delete'
              [isLoadingAction]="isLoadingDeleteAction(i)"
              (clickButtonEvent)="action(data, 'delete', i)"
              matTooltip="Deletar"
              >
            </cms-button>

            <cms-button
              *ngIf="moreAction"
              buttonClasses='-icon'
              [isLoadingAction]="isLoadingMoreAction(i)"
              [iconLeftName]="moreAction.icon"
              [matTooltip]="moreAction.text"
              (clickButtonEvent)="action(data, 'more', i)">
            </cms-button>

          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>

  </ng-template>

</div>
