<div class="ui-page-content">
  <header class="top">
    <cms-title pageName="Usuários"></cms-title>
    <cms-button [button]="buttonAddConfig" (clickButtonEvent)="openDialogToCreateUser()"></cms-button>
  </header>
  <main class="middle">
    <cms-search [filters]="userOptions" (searchEvent)="getAllUsers()">
      <div class="toggle-status">
        <label class="item">
          <span class="text">Todos</span>
          <input type="radio" checked="checked" value="all" name="status" (change)="handleChangeStatus($event)">
          <span class="checkmark"></span>
        </label>
        <label class="item">
          <span class="text">Ativos</span>
          <input type="radio" name="status" value="true" (change)="handleChangeStatus($event)">
          <span class="checkmark"></span>
        </label>
        <label class="item">
          <span class="text">Inativos</span>
          <input type="radio" name="status" value="false" (change)="handleChangeStatus($event)">
          <span class="checkmark"></span>
        </label>
      </div>
    </cms-search>
    <div class="wrapper scrollable">
      <cms-table [dataSource]="users" [config]="userTableConfig" (actionEvent)="action($event)"
        (sortChangeEvent)="getAllUsers()" (checkboxChangeEvent)="openDialogToChangeStatusUser($event)">
      </cms-table>
    </div>
    <cms-pagination (changePage)="getAllUsers()"></cms-pagination>
  </main>
</div>
