<div class="ui-page-content">
  <header class="top">
    <cms-title pageName="Usuários"></cms-title>
    <cms-button [button]="buttonAddConfig" (clickButtonEvent)="goToCreateUser()"></cms-button>
  </header>
  <main class="middle">
    <cms-search [filters]="filterConfig" (searchEvent)="paginateUsers()">
      <cms-button-toggles [buttonToggles]="buttonTogglesConfig" (change)="handleChangeStatus($event)"></cms-button-toggles>
    </cms-search>
    <div class="wrapper scrollable">
      <cms-table [dataSource]="users$ | async" [config]="tableConfig" (actionEvent)="action($event)"
        (sortChangeEvent)="paginateUsers()" (checkboxChangeEvent)="openDialogToChangeUserStatus($event)">
      </cms-table>
    </div>
    <cms-pagination (changePage)="paginateUsers()"></cms-pagination>
  </main>
</div>
