
app-table {
  width: 100%;
}

.list {
  width: 100%;
  padding: 0;
  .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .6rem 1rem;
    border: thin solid #ccccce;
    border-radius: 5rem;
    margin-bottom: 1rem;
    > * {
      margin-right: 2rem;
      &:last-child {
        flex: 1;
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }

    .checkbox {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 5rem;
      color: var(--fifth-color);
      display: flex;
      align-items: center;
      justify-content: center;
      &.-border {
        border: thin solid #ccccce;
      }
    }
    .photo {
      width: 3.2rem;
      height: 3.2rem;
      overflow: hidden;
      border-radius: 5rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .text {
      font-size: 1.4rem;
      min-width: 20rem;
    }
    .chips {
      .chip {
        background: #73E5E2;
        color: #3B506B;
        padding: .5rem 1rem;
        border-radius: 5rem;
      }
    }
    .actions {
      > * {
        margin-right: 1rem;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
