<div class="ui-page-content">
  <header class="top">
    <cms-title pageName="Usuários"></cms-title>
    <!-- <app-search [filters]="userOptions" (searchEvent)="getAllUsers()"></app-search> -->
    <cms-button [button]="buttonAddConfig" (clickButtonEvent)="openDialogToCreateUser()"></cms-button>
  </header>
  <main class="middle">
    <div class="wrapper">
      <ul class="c-list" *ngIf="users$ | async as users">
        <li class="item" *ngFor="let user of users">
          <div class="infos">
            <cms-checkbox [isChecked]="user.isActive" (changeCheckedFn)="openDialogToChangeStatusUser($event, user)"></cms-checkbox>
            <cms-upload [isAvatar]="true" [data]="user" (click)="goToDetail(user)"></cms-upload>
            <div class="text" (click)="goToDetail(user)"> {{user.name}} </div>
            <div class="text" (click)="goToDetail(user)"> {{user.email}} </div>
            <cms-chips [chips]="getRolesName(user.roles)"></cms-chips>
          </div>
          <div class="actions">
            <cms-button [button]="buttonEditConfig" (clickButtonEvent)="action(user, 'edit')"></cms-button>
            <cms-button [button]="buttonDeleteConfig" (clickButtonEvent)="action(user, 'delete')"></cms-button>
            <cms-button [button]="buttonForgotPassConfig" (clickButtonEvent)="action(user, 'forgot')"></cms-button>
          </div>
        </li>
      </ul>
    </div>
    <!-- <app-pagination (changePage)="getAllUsers()"></app-pagination>
    <cms-chips [chips]="['renato', 'bruno', 'daniela', 'theo']" showTrashButton="true" limitToView="2"></cms-chips> -->
  </main>
</div>
