.o-brand-logo {
  color: var(--brand-color);
  text-decoration: none;
  font-family: var(--font-brand);
  font-weight: 300;
  font-size: 2rem;
  margin: 2rem auto;
  display: block;
  text-align: center;
}
