.o-button {
  width: max-content;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  padding: 1rem 2rem;
  border-radius: .5rem;
  background-color: var(--bg-button-default);
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  @include transition;
  &:disabled {
    background-color: var(--bg-button-default-disabled);
    color: var(--color-button-default-disabled);
    opacity: .5;
    cursor: default;
    &:hover {
      background-color: var(--bg-button-default-disabled);
      color: var(--color-button-default-disabled);
    }
  }
  &:hover {
    background-color: lighten($colorDefault, 20%);
    color: darken($colorDefault, 20%);
  }
  > .icon {
    display: block;
    mat-spinner, mat-spinner svg {
      width: 20px !important;
      height: 20px !important;
    }
    .mat-progress-spinner circle, .mat-spinner circle {
      stroke: white;
      stroke-width: 15% !important;
    }
    &.-left {
      margin-right: 1rem;
    }
    &.-right {
      margin-left: 1rem;
    }
  }
  &.-icon {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    > .icon {
      &.-left {
        margin-right: 0;
      }
    }
  }
  &.-add, &.-success {
    background: var(--bg-button-success);
    &:disabled, &:hover {
      background-color: lighten($colorSuccess, 20%);
      color: darken($colorSuccess, 20%);
    }
  }
  &.-edit {
    background-color: var(--bg-button-info);
    &:disabled, &:hover {
      background-color: lighten($colorInfo, 20%);
      color: darken($colorInfo, 20%);
    }
  }
  &.-delete, &.-error {
    background-color: var(--bg-button-error);
    &:disabled, &:hover {
      background-color: lighten($colorError, 20%);
      color: darken($colorError, 20%);
    }
  }
  &.-link {
    background: none;
    border: none;
    color: var(--font-color-dark);
    font-weight: 300;
    font-size: 1.2rem;
    padding: 0;
    &:hover {
      color: var(--first-secondary-color);
    }
    &.-alert {
      color: var(--color-button-error);
      &:hover {
        color: darken($colorError, 20%);
      }
    }
  }
}

.button-eye {
  border: none;
  background: none;
}
