.o-button {
  width: max-content;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  padding: 1rem 2rem;
  border-radius: .5rem;
  background-color: var(--bg-button-default);
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  @include transition;
  &:disabled {
    background-color: var(--bg-button-default-disabled) !important;
    color: var(--color-button-default-disabled) !important;
    cursor: default;
  }
  &:hover {
    background-color: lighten($colorDefault, 20%);
    color: darken($colorDefault, 20%);
  }
  > .icon {
    display: block;
    &.-left {
      margin-right: 1rem;
    }
  }
  &.-icon {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    > .icon {
      &.-left {
        margin-right: 0;
      }
    }
  }
  &.-add {
    background: var(--bg-button-success);
    &:hover {
      background-color: lighten($colorSuccess, 20%);
      color: darken($colorSuccess, 20%);
    }
  }
  &.-edit {
    background-color: var(--bg-button-info);
    &:hover {
      background-color: lighten($colorInfo, 20%);
      color: darken($colorInfo, 20%);
    }
  }
  &.-delete {
    background-color: var(--bg-button-error);
    &:hover {
      background-color: lighten($colorError, 20%);
      color: darken($colorError, 20%);
    }
  }
}
