<div class="user-info">
  <div class="status-container">
    <cms-toggle [isChecked]="user?.isActive" (changeCheckedFn)="changeUserStatus($event)" class="status"></cms-toggle>
    {{ user?.isActive ? 'Ativo' : 'Inativo' }}
  </div>
  <cms-upload [isAvatar]="true" [data]="user?.avatar" [sizes]="{ width: '12.4rem', height: '12.4rem' }" [editable]="photoIsEditable" class="avatar"></cms-upload>
  <h2 class="name">{{ user?.name }}</h2>
  <div class="about">
    <strong>Sobre:</strong>
    <p>Voluptate labore ea nisi consectetur officia labore et non tempor sit sunt amet eiusmod. Sint proident commodo consectetur eu proident incididunt Lorem enim pariatur dolor ipsum.</p>
  </div>
  <div class="roles">
    <strong>Perfis:</strong>
    <cms-chips [chips]="getRolesName(user?.roles)"></cms-chips>
  </div>
</div>
<div class="contacts">
  <h2 class="title">Contatos</h2>
  <div class="item">
    <cms-button [button]="buttonMail"></cms-button>
    {{user?.email}}
  </div>
  <div class="item">
    <cms-button [button]="buttonPhone"></cms-button>
    (11) 9 0000-0000
  </div>
</div>
