<form class="c-form form-pass" [formGroup]="formPass">
  <mat-form-field appearance="fill">
    <mat-label>Senha</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" (keyup)="checkConfirmPass()" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="button-eye">
      <app-icon [name]="hide ? 'eye-slash' : 'eye'" class="o-icon-eye"></app-icon>
    </button>
    <mat-error *ngIf="showMessageError('password')">{{getErrorMessage('password')}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Confirme a senha</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirm" (keyup)="checkConfirmPass()" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="button-eye">
      <app-icon [name]="hide ? 'eye-slash' : 'eye'" class="o-icon-eye"></app-icon>
    </button>
    <mat-error *ngIf="showMessageError('confirm')">{{getErrorMessage('confirm')}}</mat-error>
  </mat-form-field>
</form>
