:root {
  --main-bg-color: #f3f8fb;
  --purple: #7d60f8;
  --purple-dark: #5d44c3;
  --purple-light: #efedfe;
  --blue-dark: #0b0b6f;
  --yellow: #fbcb00;
  --black: #1f2546;
  --grey: #899aa7;
  --cyan: #47bbf2;
  --magenta: #f25172;
  --lemon: #88d636;
  --grey: #98a5ae;
}
