// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

@include mat-core();

$cms-primary: mat-palette($mat-teal, 300);
$cms-accent:  mat-palette($mat-light-blue, 900);
$cms-warn:    mat-palette($mat-red, 400);

$cms-theme: mat-light-theme((
  color: (
    primary: $cms-primary,
    accent: $cms-accent,
    warn: $cms-warn,
  )
));

@include angular-material-theme($cms-theme);

.mat-progress-bar {
  margin-bottom: 2rem;
}

.mat-chip-list-wrapper {
  .mat-chip, .mat-standard-chip {
    font-size: 10px;
    padding: 7px 8px;
    min-height: 25px;
    &.mat-chip-selected {
      color: white !important;
    }
  }
}

.mat-spinner.small, .mat-spinner.small svg {
  width: 20px !important;
  height: 20px !important;
}

.mat-chip app-icon {
  margin-right: -1rem !important;
}

.c-form .mat-form-field-appearance-outline .mat-form-field-outline-gap,
.c-form .mat-form-field-appearance-outline .mat-form-field-outline-start,
.c-form .mat-form-field-appearance-outline .mat-form-field-outline-end,
.c-form .mat-input-element {
  border-color: var(--border-color-field);
}

.c-form .mat-form-field-label {
  color: var(--border-color-field);
}
