@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-progress-bar {
  margin-bottom: 2rem;
}

.mat-chip-list-wrapper {
  .mat-chip, .mat-standard-chip {
    font-size: 10px;
    padding: 7px 8px;
    min-height: 25px;
  }
}
