<div class="ui-page-content">
  <header class="top">
    <app-title pageName="Perfis" iconName="user-shield"></app-title>
    <app-search [filters]="roleOptions" (searchEvent)="getAllRoles()"></app-search>
    <app-button buttonText="Perfil" iconLeftName="plus" buttonClasses='-add' (clickButtonEvent)="addRole()" matTooltip="Adicionar perfil"></app-button>
  </header>
  <main class="middle">
    <div class="wrapper">
      <app-table
        [isLoadingResults]="isLoadingResults"
        [isLoadingAction]="isLoadingAction"
        [dataSource]="roles"
        [columns]="roleOptions"
        (loadContentEvent)="getAllRoles()"
        (actionEvent)="action($event)"
        (sortChangeEvent)="getAllRoles()"
      ></app-table>
    </div>
    <app-pagination (changePage)="getAllRoles()"></app-pagination>
  </main>
</div>
