<div class="ui-page-content user-page">
  <header class="top">
    <cms-title pageName="Usuário"></cms-title>
  </header>
  <main class="middle">
    <div class="user-detail scrollable">
      <div class="col -left">
        <cms-user-info [user]="user"></cms-user-info>
        <button class="bt-change-user-pass">
          Alterar a senha
          <app-icon name="lock" size="1.4rem" class="icon"></app-icon>
        </button>
        <button class="bt-delete-user">
          Excluir usuário
        </button>
      </div>
      <div class="col -form">
        <ng-container *ngIf="!!user">
          <cms-user-form [user]="user"></cms-user-form>
        </ng-container>
      </div>
    </div>
  </main>
</div>
