.ui-page-auth {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--purple-dark);

  .brand-logo {
    color: white;
    font-size: 3rem;
    margin-top: -5rem;
    margin-bottom: 5rem;
    text-decoration: none;
  }
}
