<div class="c-auto-complete-chips">

  <div class="c-field -input">

    <label class="label">{{label}}</label>

    <input [placeholder]="placeholder" #chipInput [formControl]="chipControl" [matAutocomplete]="auto" class="field">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedChip($event)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>

    <cms-chips [chips]="chips" showTrashButton="true" (deleteChipFn)="removeChip($event)"></cms-chips>

  </div>

</div>
