<div class="c-auto-complete-chips">

  <mat-form-field appearance="fill">

    <mat-label>{{field?.label}}</mat-label>

    <mat-chip-list #chipList aria-label="">
        <mat-chip
          *ngFor="let chip of field?.chipsName"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="removeChip(chip)">
          {{chip}}
          <app-icon name="times" matChipRemove *ngIf="removable"></app-icon>
        </mat-chip>
        <input
          [placeholder]="placeholder"
          #chipInput
          [formControl]="chipControl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addChip($event)">
    </mat-chip-list>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedChip($event)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

</div>
