<div class="c-modal-content create-role">

  <mat-progress-bar mode="indeterminate" *ngIf="isLoadingPage; else form"></mat-progress-bar>

  <ng-template #form>

    <form class="c-form col-2 form-role" [formGroup]="formRole" (submit)="submitRoleData()">

      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="showMessageError('name')">{{getErrorMessage('name')}}</mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="admin">Admin</mat-checkbox>

      <div class="bottom-grid">
        <cms-button type="submit" buttonText="Salvar" iconLeftName="save" buttonClasses='-add' [disableButton]="formInvalid" [isLoadingAction]="isLoadingAction"></cms-button>
        <cms-button buttonText="Cancelar" buttonClasses='-link' (clickButtonEvent)="cancel()" class="button-right"></cms-button>
      </div>

    </form>

  </ng-template>

</div>
